.bpm-server-connect {
      border: 1px solid darkslategrey;
      padding: 25px 20px;
      margin-bottom: 50px;
      position: relative;
}

.title {
      position: absolute;
      top: -35px;
      background: #fff;
      text-transform: uppercase;
}

.bpm-server-connect .fa {
      font-size: 35px;
      display: inline-block;
}

.fa-check {
      color: forestgreen;
}

.fa-minus-circle, .fa-trash-o {
      color: darkred;
}
.fa-trash-o {
      font-size: 20px;
      float: right;
      padding-left: 10px;
      border-left: 1px solid black;
}

#sqlDatabases {
      display: inline-block;
      width: 33.3333%;
      margin-bottom: 30px;
}

.bpm-checkboxes {
      display: inline-block;
      width: 33.3%;
      margin-bottom: 10px;
      padding: 0 30px;
}

.bpm-db-table {
      display: inline-block;
      vertical-align: top;
      text-transform: none;
      font-weight: 600;
}