.centering {
        float: none;
        margin: 0 auto;
    }

.90_percent {
	max-width: 90%;
}

.80_percent {
	max-width: 80%;
}

.modal-xlg {
    width: 80%;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}